# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# -----------------------
# Virtual environments
# -----------------------
.venv/
venv/
env/

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# Jupyter
# -----------------------
.ipynb_checkpoints/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Data (VERY IMPORTANT)
# -----------------------
data/

# -----------------------
# Outputs (VGGT results)
# -----------------------
outputs/
*.npy
*.pt
*.ply
*.bin

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Temp / cache
# -----------------------
temp_vggt/